<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8">

    <title>Solid Ground</title>

    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://unpkg.com/react/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone"></script>
</head>

<body>
    <!--Change logo image-->
    <img src="/static/chaplain.png" alt="Solid Ground" width = "125" height = "48">

    <div class="tab">
        <button class="tablinks" onclick="openPage('Home')">Home</button>
        <button class="tablinks" onclick="document.getElementById('Music').style.display='block'" style="width:auto;">Music</button>
        <button class="tablinks" onclick="document.getElementById('ecForm').style.display='block'" style="width:auto;">Set Up</button>
    </div>

    <div id="Home" class="tabcontent">
        <!--Buttons-->
        <div id="center-table">
            <div class="table-contents">
                <div class="table-row">
                    <!--Add action-->
                    <button class="buttonBig" id="anchor" onclick="startExercise(); hide()">START</button>
                </div>
                <!--Separation-->
                <div><p><br></p></div>
                <div class="table-row">
                    <button class="buttonMed" id="emcon" onclick="callEmergencyContact()">Call Contact</button>
                    <div style="width: 40px"></div>
                    <button class="buttonMed" id="hot" onclick="callHotline()">Call Hotline</button>
                </div>
            </div>
    </div>

    <div id="Music" class="tabcontent" style="display: none;">
         <iframe src="https://open.spotify.com/embed/user/spotify/playlist/37i9dQZF1DWUZ5bk6qqDSy" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>

    <div id="Set Up" class="tabcontent">
        <!--Emergency Contact-->
        <div style="display:none" id='ecForm' class="modal">
            <!--send data somewhere-->
            <form name="contactForm" action="" method="post" class="modal-content animate" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="imgcontainer">
                    <span onclick="document.getElementById('ecForm').style.display='none'" class="close" title="Close Modal">&times;</span>
                </div>

                <div class="container">
                    <label for="emcontname"><b>Emergency Contact Name:</b></label>
                    <input type="text" placeholder="Enter A Contact Name" name="cname" required>
                </div>

                <div class="container">
                    <label for="phnum"><b>Phone Number:</b></label>
                    <input type="text" id="phnum" placeholder="Enter A Phone Number" name="phnum" required>
                </div>
                <p id="response"></p> <br>

                <button type="submit" id="submit-btn">Submit</button>

            </form>

        </div>

        <!--End Emergency Contact-->
    </div>


    <script>

        /* Nav Bar */
        //Return to homepage
        function openPage() {
            window.location.href="../index.html";
        }
        /* End of Nav Bar */

        /* Contact Form */
        //Display Modal
        let modal = document.getElementById('ecForm');
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        //validate phone number response
        function validateForm() {

            // Get the value of the input field with id="numb"
            let x = document.getElementById("phnum").value;

            let text = "";
            // If x is Not a Number or less than one or greater than 10
            if (isNaN(x) || x.length != 10) {
                text = "Not a valid phone number";
                document.getElementById("response").innerHTML = text;
                return false;
            } else {
                return true;
            }
        }
        /* End Contact Form */

        function startExercise() {
            playFile("/static/navigation/audiofiles/testing.wav");

            fetch('/',
                {method:'post',
                headers: {
                    "X-CSRFToken": Cookies.get('csrftoken'),
                    "Accept": "application/json",
                    "Content-Type": "application/json"
                },}).then(res => res.json())
                .then(parsed => playFile(parsed['exercise']))
        }

        /* Audio Playback */
        //Audio Controls
        function playFile(file_path) {
            //choose a sequence to play
            let x = document.createElement("Audio");
            x.innerHTML =
                '<source src="' + file_path + '" type="audio/mp3">';
            console.log(x);
            x.play();
        }


        /* Hide Start Button */
        function hide() {
            let x = document.getElementById("anchor");
            x.style.opacity = "0";
            x.style.pointerEvents = "none";
        }
        /* End Hide Start Button */

    </script>

    <div id="app"></div>
    <script type="text/babel">
    function circleWithText(text, bgColor, scale) {
        let circleStyle = {
            width: 200,
            height: 200,
            backgroundColor: bgColor,
            borderRadius: '50%',
            display: 'flex',
            transform: 'scale(' + scale + ')',
            transition: 'background-color 0.5s'
        };

        let textStyle = {
            margin: 'auto',
            color: 'white',
            fontFamily: 'sans-serif',
            fontSize: '30px'
        };

        return <div style={circleStyle}>
                <div style={textStyle}>{text}</div>
            </div>;
    }

    function render(root) {
        ReactDOM.render(root, document.getElementById("app"));
    }

   
    
    let frameCount = 0;
    function startAnimationLoop(scale) {
        let dScale = 0.005 * Math.sin(frameCount/80);
        let nextFrame = () => window.requestAnimationFrame(() => startAnimationLoop(scale + dScale));

        if (Math.abs(dScale) < 1e-4) {
            setTimeout(nextFrame, 300);
            render(circleWithText('', 'rgb(102, 205, 170)', scale));
        } else {
            if (dScale > 0) {
                render(circleWithText('Breathe In', 'rgb(102, 205, 170)', scale));
            } else { 
                render(circleWithText('Breathe Out', 'rgb(176, 196, 222)', scale))
            }
            nextFrame();
        }

        frameCount += 1;
    }
</script>

</body>

</html>